#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.block-result {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-result {
  height: 40px;
  width: 150px;
  margin: auto 25px;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
}

tr {
  border: 1px solid black;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

.span-table {
  display: inline-block;
  margin-right: 10px;
}
